*~
.*swp
.*swo
.*swa
.*swn
*.apk
.DS_Store
_build
bin
gen
build.xml
proguard.cfg
local.properties
default.properties
iOS/Xcode_iPad
iOS/Xcode_Simulator
_iOS_build
projects/DemoApp/Xcode_Ipad
projects/DemoApp/Xcode_Simulator
