*~
.*swp
.*swo
.*swa
.*swn
*.apk
.DS_Store
_build/*
**/**/bin/
build.xml
local.properties
default.properties
proguard.cfg
_iOS_build/CMakeCache.txt
_iOS_build/CMakeFiles/CMakeCCompiler.cmake
_iOS_build/CMakeFiles/CMakeCXXCompiler.cmake
_iOS_build/CMakeFiles/CMakeDetermineCompilerABI_C.bin
_iOS_build/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
_iOS_build/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/CMakeFiles/CMakeError.log
_iOS_build/CMakeFiles/CMakeOutput.log
_iOS_build/CMakeFiles/CMakeSystem.cmake
_iOS_build/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
_iOS_build/CMakeFiles/CompilerIdC/CMakeCCompilerId.o
_iOS_build/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
_iOS_build/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.o
_iOS_build/CMakeFiles/Makefile.cmake
_iOS_build/CMakeFiles/Makefile2
_iOS_build/CMakeFiles/TargetDirectories.txt
_iOS_build/CMakeFiles/cmake.check_cache
_iOS_build/CMakeFiles/progress.marks
_iOS_build/Makefile
_iOS_build/acmake/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/acmake/CMakeFiles/progress.marks
_iOS_build/acmake/Makefile
_iOS_build/acmake/cmake_install.cmake
_iOS_build/bin/mobile-spark.app/Contents/Info.plist
_iOS_build/bin/mobile-spark.app/Contents/MacOS/mobile-spark
_iOS_build/cmake_install.cmake
_iOS_build/core/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/core/CMakeFiles/progress.marks
_iOS_build/core/Makefile
_iOS_build/core/cmake_install.cmake
_iOS_build/core/netsrc/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/core/netsrc/CMakeFiles/progress.marks
_iOS_build/core/netsrc/Makefile
_iOS_build/core/netsrc/cmake_install.cmake
_iOS_build/core/src/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/core/src/CMakeFiles/progress.marks
_iOS_build/core/src/Makefile
_iOS_build/core/src/cmake_install.cmake
_iOS_build/core/src/mar/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/core/src/mar/CMakeFiles/mar.dir/AssetProvider.cpp.o
_iOS_build/core/src/mar/CMakeFiles/mar.dir/CXX.includecache
_iOS_build/core/src/mar/CMakeFiles/mar.dir/DependInfo.cmake
_iOS_build/core/src/mar/CMakeFiles/mar.dir/Geometry.cpp.o
_iOS_build/core/src/mar/CMakeFiles/mar.dir/Material.cpp.o
_iOS_build/core/src/mar/CMakeFiles/mar.dir/build.make
_iOS_build/core/src/mar/CMakeFiles/mar.dir/cmake_clean.cmake
_iOS_build/core/src/mar/CMakeFiles/mar.dir/cmake_clean_target.cmake
_iOS_build/core/src/mar/CMakeFiles/mar.dir/depend.internal
_iOS_build/core/src/mar/CMakeFiles/mar.dir/depend.make
_iOS_build/core/src/mar/CMakeFiles/mar.dir/flags.make
_iOS_build/core/src/mar/CMakeFiles/mar.dir/link.txt
_iOS_build/core/src/mar/CMakeFiles/mar.dir/progress.make
_iOS_build/core/src/mar/CMakeFiles/progress.marks
_iOS_build/core/src/mar/Makefile
_iOS_build/core/src/mar/cmake_install.cmake
_iOS_build/core/src/masl/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/core/src/masl/CMakeFiles/masl.dir/BaseEntry.cpp.o
_iOS_build/core/src/masl/CMakeFiles/masl.dir/CXX.includecache
_iOS_build/core/src/masl/CMakeFiles/masl.dir/DependInfo.cmake
_iOS_build/core/src/masl/CMakeFiles/masl.dir/Exception.cpp.o
_iOS_build/core/src/masl/CMakeFiles/masl.dir/Logger.cpp.o
_iOS_build/core/src/masl/CMakeFiles/masl.dir/MatrixStack.cpp.o
_iOS_build/core/src/masl/CMakeFiles/masl.dir/UnitTest.cpp.o
_iOS_build/core/src/masl/CMakeFiles/masl.dir/XMLNode.cpp.o
_iOS_build/core/src/masl/CMakeFiles/masl.dir/XMLUtils.cpp.o
_iOS_build/core/src/masl/CMakeFiles/masl.dir/build.make
_iOS_build/core/src/masl/CMakeFiles/masl.dir/cmake_clean.cmake
_iOS_build/core/src/masl/CMakeFiles/masl.dir/cmake_clean_target.cmake
_iOS_build/core/src/masl/CMakeFiles/masl.dir/depend.internal
_iOS_build/core/src/masl/CMakeFiles/masl.dir/depend.make
_iOS_build/core/src/masl/CMakeFiles/masl.dir/flags.make
_iOS_build/core/src/masl/CMakeFiles/masl.dir/link.txt
_iOS_build/core/src/masl/CMakeFiles/masl.dir/progress.make
_iOS_build/core/src/masl/CMakeFiles/masl.dir/string_functions.cpp.o
_iOS_build/core/src/masl/CMakeFiles/progress.marks
_iOS_build/core/src/masl/Makefile
_iOS_build/core/src/masl/cmake_install.cmake
_iOS_build/core/src/spark/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/core/src/spark/CMakeFiles/progress.marks
_iOS_build/core/src/spark/CMakeFiles/spark.dir/BaseApp.cpp.o
_iOS_build/core/src/spark/CMakeFiles/spark.dir/CXX.includecache
_iOS_build/core/src/spark/CMakeFiles/spark.dir/Component.cpp.o
_iOS_build/core/src/spark/CMakeFiles/spark.dir/Container.cpp.o
_iOS_build/core/src/spark/CMakeFiles/spark.dir/DemoApp.cpp.o
_iOS_build/core/src/spark/CMakeFiles/spark.dir/DependInfo.cmake
_iOS_build/core/src/spark/CMakeFiles/spark.dir/Rectangle.cpp.o
_iOS_build/core/src/spark/CMakeFiles/spark.dir/SparkComponentFactory.cpp.o
_iOS_build/core/src/spark/CMakeFiles/spark.dir/Transform.cpp.o
_iOS_build/core/src/spark/CMakeFiles/spark.dir/Widget.cpp.o
_iOS_build/core/src/spark/CMakeFiles/spark.dir/Window.cpp.o
_iOS_build/core/src/spark/CMakeFiles/spark.dir/build.make
_iOS_build/core/src/spark/CMakeFiles/spark.dir/cmake_clean.cmake
_iOS_build/core/src/spark/CMakeFiles/spark.dir/cmake_clean_target.cmake
_iOS_build/core/src/spark/CMakeFiles/spark.dir/depend.internal
_iOS_build/core/src/spark/CMakeFiles/spark.dir/depend.make
_iOS_build/core/src/spark/CMakeFiles/spark.dir/flags.make
_iOS_build/core/src/spark/CMakeFiles/spark.dir/link.txt
_iOS_build/core/src/spark/CMakeFiles/spark.dir/progress.make
_iOS_build/core/src/spark/Makefile
_iOS_build/core/src/spark/cmake_install.cmake
_iOS_build/iOS/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/iOS/CMakeFiles/progress.marks
_iOS_build/iOS/Makefile
_iOS_build/iOS/SparkViewer/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/iOS/SparkViewer/CMakeFiles/progress.marks
_iOS_build/iOS/SparkViewer/Makefile
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/CMakeDirectoryInformation.cmake
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/CXX.includecache
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/DependInfo.cmake
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/GLView.mm.o
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/SparkViewerAppDelegate.m.o
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/build.make
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/cmake_clean.cmake
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/depend.internal
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/depend.make
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/flags.make
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/link.txt
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/main.m.o
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/progress.make
_iOS_build/iOS/SparkViewer/SparkViewer/CMakeFiles/progress.marks
_iOS_build/iOS/SparkViewer/SparkViewer/Makefile
_iOS_build/iOS/SparkViewer/SparkViewer/cmake_install.cmake
_iOS_build/iOS/SparkViewer/cmake_install.cmake
_iOS_build/iOS/cmake_install.cmake
_iOS_build/lib/acmake/cmake/AcMakeConfig.cmake
_iOS_build/lib/libmar.a
_iOS_build/lib/libmasl.a
_iOS_build/lib/libspark.a
iOS/Xcode_iPad/CMakeCache.txt
iOS/Xcode_iPad/CMakeFiles/CMakeCCompiler.cmake
iOS/Xcode_iPad/CMakeFiles/CMakeCXXCompiler.cmake
iOS/Xcode_iPad/CMakeFiles/CMakeError.log
iOS/Xcode_iPad/CMakeFiles/CMakeOutput.log
iOS/Xcode_iPad/CMakeFiles/CMakeSystem.cmake
iOS/Xcode_iPad/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
iOS/Xcode_iPad/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
iOS/Xcode_iPad/CMakeFiles/TargetDirectories.txt
iOS/Xcode_iPad/CMakeFiles/cmake.check_cache
iOS/Xcode_iPad/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeDebug
iOS/Xcode_iPad/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeMinSizeRel
iOS/Xcode_iPad/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelWithDebInfo
iOS/Xcode_iPad/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelease
iOS/Xcode_iPad/CMakeScripts/ReRunCMake.make
iOS/Xcode_iPad/CMakeScripts/XCODE_DEPEND_HELPER.make
iOS/Xcode_iPad/CMakeScripts/install_postBuildPhase.makeDebug
iOS/Xcode_iPad/CMakeScripts/install_postBuildPhase.makeMinSizeRel
iOS/Xcode_iPad/CMakeScripts/install_postBuildPhase.makeRelWithDebInfo
iOS/Xcode_iPad/CMakeScripts/install_postBuildPhase.makeRelease
iOS/Xcode_iPad/acmake/AcMake.xcodeproj/project.pbxproj
iOS/Xcode_iPad/acmake/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeDebug
iOS/Xcode_iPad/acmake/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeMinSizeRel
iOS/Xcode_iPad/acmake/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelWithDebInfo
iOS/Xcode_iPad/acmake/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelease
iOS/Xcode_iPad/acmake/CMakeScripts/XCODE_DEPEND_HELPER.make
iOS/Xcode_iPad/acmake/CMakeScripts/install_postBuildPhase.makeDebug
iOS/Xcode_iPad/acmake/CMakeScripts/install_postBuildPhase.makeMinSizeRel
iOS/Xcode_iPad/acmake/CMakeScripts/install_postBuildPhase.makeRelWithDebInfo
iOS/Xcode_iPad/acmake/CMakeScripts/install_postBuildPhase.makeRelease
iOS/Xcode_iPad/acmake/cmake_install.cmake
iOS/Xcode_iPad/cmake_install.cmake
iOS/Xcode_iPad/core/cmake_install.cmake
iOS/Xcode_iPad/core/netsrc/cmake_install.cmake
iOS/Xcode_iPad/core/src/cmake_install.cmake
iOS/Xcode_iPad/core/src/mar/CMakeScripts/mar_postBuildPhase.makeDebug
iOS/Xcode_iPad/core/src/mar/CMakeScripts/mar_postBuildPhase.makeMinSizeRel
iOS/Xcode_iPad/core/src/mar/CMakeScripts/mar_postBuildPhase.makeRelWithDebInfo
iOS/Xcode_iPad/core/src/mar/CMakeScripts/mar_postBuildPhase.makeRelease
iOS/Xcode_iPad/core/src/mar/cmake_install.cmake
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/Objects-normal/armv7/AssetProvider.o
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/Objects-normal/armv7/Geometry.o
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/Objects-normal/armv7/Material.o
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/Objects-normal/armv7/mar.LinkFileList
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/Script-100057010005701000570000.sh
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/Script-1000D001000D001000D00000.sh
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/build-state.dat
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/build-state~.dat
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/mar.dep
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/mar~.dep
iOS/Xcode_iPad/core/src/masl/CMakeScripts/masl_postBuildPhase.makeDebug
iOS/Xcode_iPad/core/src/masl/CMakeScripts/masl_postBuildPhase.makeMinSizeRel
iOS/Xcode_iPad/core/src/masl/CMakeScripts/masl_postBuildPhase.makeRelWithDebInfo
iOS/Xcode_iPad/core/src/masl/CMakeScripts/masl_postBuildPhase.makeRelease
iOS/Xcode_iPad/core/src/masl/cmake_install.cmake
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/BaseEntry.o
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/Exception.o
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/Logger.o
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/MatrixStack.o
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/UnitTest.o
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/XMLNode.o
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/XMLUtils.o
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/masl.LinkFileList
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/string_functions.o
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Script-5E9C005E9C005E9C00000000.sh
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Script-5EA3805EA3805EA380000000.sh
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/build-state.dat
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/build-state~.dat
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/masl.dep
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/masl~.dep
iOS/Xcode_iPad/core/src/spark/CMakeScripts/spark_postBuildPhase.makeDebug
iOS/Xcode_iPad/core/src/spark/CMakeScripts/spark_postBuildPhase.makeMinSizeRel
iOS/Xcode_iPad/core/src/spark/CMakeScripts/spark_postBuildPhase.makeRelWithDebInfo
iOS/Xcode_iPad/core/src/spark/CMakeScripts/spark_postBuildPhase.makeRelease
iOS/Xcode_iPad/core/src/spark/cmake_install.cmake
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/BaseApp.o
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/Component.o
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/Container.o
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/DemoApp.o
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/Rectangle.o
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/SparkComponentFactory.o
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/Transform.o
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/Widget.o
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/Window.o
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Objects-normal/armv7/spark.LinkFileList
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Script-101ABC0101ABC0101ABC0000.sh
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Script-101B330101B330101B330000.sh
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/build-state.dat
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/build-state~.dat
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/spark.dep
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/spark~.dep
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/CMakeFiles/mobile-spark.dir/Info.plist
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/CMakeScripts/mobile-spark_postBuildPhase.makeDebug
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/CMakeScripts/mobile-spark_postBuildPhase.makeMinSizeRel
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/CMakeScripts/mobile-spark_postBuildPhase.makeRelWithDebInfo
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/CMakeScripts/mobile-spark_postBuildPhase.makeRelease
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/cmake_install.cmake
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/Objects-normal/armv7/GLView.o
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/Objects-normal/armv7/SparkViewerAppDelegate.o
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/Objects-normal/armv7/main.o
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/Objects-normal/armv7/mobile-spark.LinkFileList
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/Script-102D260102D260102D260000.sh
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/Script-102D9F0102D9F0102D9F0000.sh
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/build-state.dat
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/build-state~.dat
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/mobile-spark.dep
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/mobile-spark.xcent
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/mobile-spark~.dep
iOS/Xcode_iPad/iOS/SparkViewer/cmake_install.cmake
iOS/Xcode_iPad/iOS/cmake_install.cmake
iOS/Xcode_iPad/lib/Debug/libmar.a
iOS/Xcode_iPad/lib/Debug/libmasl.a
iOS/Xcode_iPad/lib/Debug/libspark.a
iOS/Xcode_iPad/lib/acmake/cmake/AcMakeConfig.cmake
iOS/Xcode_iPad/mobile-spark.build/Debug-iphoneos/ALL_BUILD.build/ALL_BUILD.dep
iOS/Xcode_iPad/mobile-spark.build/Debug-iphoneos/ALL_BUILD.build/Script-5C98F05C98F05C98F0000000.sh
iOS/Xcode_iPad/mobile-spark.build/Debug-iphoneos/ALL_BUILD.build/Script-5CF6105CF6105CF610000000.sh
iOS/Xcode_iPad/mobile-spark.build/Debug-iphoneos/ALL_BUILD.build/build-state.dat
iOS/Xcode_iPad/mobile-spark.xcodeproj/project.pbxproj
iOS/Xcode_iPad/mobile-spark.xcodeproj/project.xcworkspace/contents.xcworkspacedata
iOS/Xcode_iPad/mobile-spark.xcodeproj/project.xcworkspace/xcuserdata/arvid.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Xcode_iPad/mobile-spark.xcodeproj/project.xcworkspace/xcuserdata/arvid.xcuserdatad/WorkspaceSettings.xcsettings
iOS/Xcode_iPad/mobile-spark.xcodeproj/xcuserdata/arvid.xcuserdatad/xcschemes/ALL_BUILD.xcscheme
iOS/Xcode_iPad/mobile-spark.xcodeproj/xcuserdata/arvid.xcuserdatad/xcschemes/install.xcscheme
iOS/Xcode_iPad/mobile-spark.xcodeproj/xcuserdata/arvid.xcuserdatad/xcschemes/mar.xcscheme
iOS/Xcode_iPad/mobile-spark.xcodeproj/xcuserdata/arvid.xcuserdatad/xcschemes/masl.xcscheme
iOS/Xcode_iPad/mobile-spark.xcodeproj/xcuserdata/arvid.xcuserdatad/xcschemes/mobile-spark.xcscheme
iOS/Xcode_iPad/mobile-spark.xcodeproj/xcuserdata/arvid.xcuserdatad/xcschemes/spark.xcscheme
iOS/Xcode_iPad/mobile-spark.xcodeproj/xcuserdata/arvid.xcuserdatad/xcschemes/xcschememanagement.plist
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/Objects-normal/armv7/IOSAssetProvider.o
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/Script-1003B501003B501003B50000.sh
iOS/Xcode_iPad/core/src/mar/mobile-spark.build/Debug-iphoneos/mar.build/Script-10042E010042E010042E0000.sh
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Objects-normal/armv7/file_functions.o
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Script-5EBB705EBB705EBB70000000.sh
iOS/Xcode_iPad/core/src/masl/mobile-spark.build/Debug-iphoneos/masl.build/Script-5EC3105EC3105EC310000000.sh
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Script-101E1A0101E1A0101E1A0000.sh
iOS/Xcode_iPad/core/src/spark/mobile-spark.build/Debug-iphoneos/spark.build/Script-101E910101E910101E910000.sh
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/Script-103083010308301030830000.sh
iOS/Xcode_iPad/iOS/SparkViewer/SparkViewer/mobile-spark.build/Debug-iphoneos/mobile-spark.build/Script-1030FC01030FC01030FC0000.sh
iOS/Xcode_iPad/mobile-spark.build/Debug-iphoneos/ALL_BUILD.build/Script-5CBD205CBD205CBD20000000.sh
iOS/Xcode_iPad/mobile-spark.build/Debug-iphoneos/ALL_BUILD.build/Script-5CC4005CC4005CC400000000.sh