<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AC_LOG_VERBOSITY</key>
	<string>DEBUG</string>
	<key>AC_LOG_MODULE_VERBOSITY</key>
	<string>TRACE/EventDispatcher.cpp</string>
</dict>
</plist>
